{% extends "main_template.html" %}

{% block title %}
Events
{% endblock %}
{% block banner %}{{ url_for('static', filename='images/banner_green.png') }}{% endblock %}

{% block content %}
<h1>Our Events Calendar</h1>
    <div class="container-lg">
        <div class="event button-placement">  <a class="btn btn-primary" href="">Add new event</a> </div>
        {% for row in events %}
         <div class="event">
            <div class="row">
               <div class="col-12"><h2> {{ row['title'] }} </h2> </div>
            </div>
            <div class="row">
                <div class="col-4"> {{ row['event_date'] | event_time}} </div>
                <div class="col-8"> {{ row['event_date'] | event_date }}</div>
            </div>
            <div class="row">
                <div class="col-12"> {{ row['content'] }}.</div>
            </div>
            <div class="button-placement">
                <a class="btn btn-primary" href="">Delete</a> <a class="btn btn-primary" href="">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}