{% extends "main_template.html" %}

{% block title %}
TRIYA home
{% endblock %}

{% block content %}
        <div class="container-lg">
        <h2>News</h2>
        <div class="row main-cols">
              <!-- left column -->
            <div class="col-lg-4 left">
                <div class="row news">
                    <h3> RIYA Learn to sail and sailing development starts on the first day T4. </h3>
                     <div> WC has lined up for Mondays, Tuesdays is girls day, Wednesdays is Teams Racing,
                         Thursdays other colleges, Fridays Scots College.
                        However the "allocated" days are not exclusive. We will do our best to make it work for you
                     </div>
                    <div> Posted: 13 Aug 2022 </div>
                </div>
                <div class="row news">
                    <h3> The summer program for Fleet sailing advanced </h3>
                     <div>  The program culminates in an AON sponsored YNZ coaching clinic in Mid December this year.
                         A new program running through to the 420 Nationals will begin in the new year.
                     </div>
                    <div> Posted: 13 May 2022 </div>
                </div>
            </div>

    <!-- right -->
            <div class="col-lg-8 right order-first">

                <p>"I come from the 49ers, where there is a high error rate in the sailing but the best sailor still wins,
        and that’s why I’m attracted to these kind of boats."</p>
             <p> Warren - 420 champion</p>

<!-- content boxes -->
            <div class="row align-items-center about">
                <div class="col-md-6 ">
                    <h2>Who we are</h2>

                    <p>  The Academy provides a range of yachting opportunities to young college students interested in sailing.
                        TRIYA’s aim is to make sailing accessible to all school age students to encourage
                        a love for the water and sailing.</p>
                        <p>We run programs from beginner levels all the way to national champions.</p>
                </div>
                <div class="col-md-6"
                 style="background-image: url('{{ url_for('static', filename='images/set_up_opt.jpg') }}');
                background-size: cover;
                background-position: center; ">
                    <img class="img-fluid trans" src="{{ url_for('static', filename='images/placeholder.png') }}" alt="">
                </div>
            </div>
            <div class="row align-items-center about">
                <div class="col-md-6 ">
                    <h2>420 Sailing</h2>
                    <p>
                       Based in Evans Bay, Wellington. The Academy provides a range of
                        yachting opportunities to young college students interested in sailing.
                        We offer Learn to Sail, Teams Racing and Fleet Racing programs.</p>
                    <p>
                        The Academy owns a number of international 420 class boats for use
                        by secondary students wishing to pursue teams racing, learn to sail & fleet racing.</p>
                </div>
                <div class="col-md-6"><img class="img-fluid" src="{{ url_for('static', filename='images/placeholder.png') }}" alt=""></div>
            </div>
            <div  class="coaches">
                 <h2 id="coaches">Our Coaches</h2>
                <div class="row">
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Locky</h3>
                                    <p class="main-para-sm text-center">Lockie coaches all programs with a focus on fleet racing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Finn</h3>
                                    <p class="main-para-sm text-center">
                                        Finn coaches fleet racing and has attended Nationals and Worlds himself.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Warren</h3>
                                    <p class="main-para-sm text-center">Our TRIYA manager,
                                        you will often find him helping out with programs and repairing boats</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Helena</h3>
                                <p class="main-para-sm text-center">Helena runs girls night and learn to sail,
                                    with a passion for introducing people to sailing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Darby</h3>
                                <p class="main-para-sm text-center">Darby coaches team racing and is passionate
                                    about introducing teams racing to others</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/placeholder.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Bri</h3>
                                <p class="main-para-sm text-center">Bri coaches team and learn to sail, as a referee she
                                    knows the team racing scene well</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

{% endblock %}