{% extends "main_template.html" %}

{% block title %}
TRIYA home
{% endblock %}
{% block banner %}{{ url_for('static', filename='images/banner_sail_a.png') }}{% endblock %}
{% block content %}
    <div class="container-fluid quote">
        <p>"I come from the 49ers, where there is a high error rate in the sailing but the best sailor still wins,
        and that’s why I’m attracted to these kind of boats."</p>
        <p> Warren - 420 champion</p>
    </div>

<h1>About Us</h1>
     <div class="container-lg">

        <div class="row main-cols">
              <!-- left column -->
            <div class="col-lg-4 left">

             {% if session['authorisation'] == 0 %}
             <div class="event button-placement">
                 <a class="btn btn-primary" href="{{ url_for('news_cud', news_id = 0 )}}">Add News</a> </div>
             {% endif %}

                <h2>News</h2>
            {% if news %}
                 {% for row in news %}
                 <div class="news">
                    <h3>{{ row['title'] }}</h3>
                    <div><p>{{ row['content'] | replace("\n", "<br>") | safe}}</p></div>
                    <div> Posted on: {{ row['updated_at'] | news_date }}</div>

                     {% if session['authorisation'] == 0 %}
                    <div class="button-placement">
                            <a class="btn btn-primary" href="{{ url_for('delete', id = row['news_id'], table="news", title=row['title']  )}}">Delete</a>
                            <a class="btn btn-primary" href="{{ url_for('news_cud', news_id = row['news_id'] )}}">Update</a>
                    </div>
                 {% endif %}

                 </div>
                {% endfor %}
            {% endif %}
            <!-- close news column div -->
            </div>

    <!-- right -->
            <div class="col-lg-8 right order-first">

<!-- content boxes -->
            <div class="row align-items-center about">
                <div class="col-md-6 ">
                    <h2>Who we are</h2>

                    <p> TRIYA is the Tup Radford Intercollegiate Yachting Academy. We provide a range of yachting opportunities
                        to young college students interested in sailing.
                       Our aim is to make sailing accessible to all school age students to encourage
                        a love for the water and sailing.</p>
                        <p>We run programs from beginner levels all the way to national champions.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/boats_4.png') }}" alt="">
                </div>
            </div>
            <div class="row align-items-center about">
                <div class="col-md-6 ">
                    <h2>420 Sailing</h2>
                    <p>
                       Based in Evans Bay, Wellington. The Academy provides a range of
                        yachting opportunities to young college students interested in sailing.
                        We offer Learn to Sail, Teams Racing and Fleet Racing programs.</p>
                    <p>
                        The Academy owns a number of international 420 class boats for use
                        by secondary students wishing to pursue teams racing, learn to sail & fleet racing.</p>
                </div>
                <div class="col-md-6"><img class="img-fluid" src="{{ url_for('static', filename='images/boats_7.png') }}" alt=""></div>
            </div>
            <div  class="coaches">
                 <h2 id="coaches">Our Coaches</h2>
                <div class="row">
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/locky.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Locky</h3>
                                    <p class="main-para-sm text-center">Lockie coaches all programs with a focus on fleet racing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/finn.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Finn</h3>
                                    <p class="main-para-sm text-center">
                                        Finn coaches fleet racing and has attended Nationals and Worlds himself.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" >
                                <img src="{{ url_for('static', filename='images/warren.png') }}" class="" alt="Sailor in choppy water">
                                <div class="card-body">
                                    <h3 class="m-0">Warren</h3>
                                    <p class="main-para-sm text-center">Our TRIYA manager,
                                        you will often find him helping out with programs and repairing boats</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/helena.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Helena</h3>
                                <p class="main-para-sm text-center">Helena runs girls night and learn to sail,
                                    with a passion for introducing people to sailing</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/darby.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Darby</h3>
                                <p class="main-para-sm text-center">Darby coaches team racing and is passionate
                                    about introducing teams racing to others</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="{{ url_for('static', filename='images/bri.png') }}" class="" alt="Sailor in choppy water">
                            <div class="card-body">
                                <h3 class="m-0">Bri</h3>
                                <p class="main-para-sm text-center">Bri coaches team and learn to sail, as a referee she
                                    knows the team racing scene well</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

{% endblock %}