{% extends "main_template.html" %}

{% block title %}
Programs and sign-up
{% endblock %}
{% block banner %}{{ url_for('static', filename='images/banner_sail_a.png') }}{% endblock %}
{% block content %}

    <h1>Our Programs</h1>
    <div class="container-lg">

    {% if session['authorisation'] == 0 %}
     <div class="program button-placement">  <a class="btn btn-primary" href="{{ url_for('program_cud', program_id = 0 )}}">New Program</a> </div>
    {% endif %}

    {% if programs %}
        {% for row in programs %}
        <div class="program">
            <div class="row align-items-center {{loop.cycle('','reverse') }}">
                 <div class="col-md-6 ">
                     <h2> {{ row['name'] }} </h2>
                     <p>  {{ row['subtitle'] }} </p>
                     <p> {{ row['content'] | replace("\n", "<br>") | safe}} </p>
                 </div>
                 <div class="col-md-6 {{loop.cycle('','order-first') }}">
                     <img class="img-fluid" src="{{ url_for('static', filename='images/'+row['image']) }}" alt="">
                 </div>
            </div>
        {% if session['authorisation'] == 0 %}
            <div class="button-placement">
                <a class="btn btn-primary" href="{{ url_for('delete', id = row['program_id'], table="program", title=row['name']  )}}">Delete</a>
                <a class="btn btn-primary" href="{{ url_for('program_cud', program_id = row['program_id'] )}}">Update</a>
            </div>
        {% endif %}
        </div>
        {%  endfor %}
    {% endif %}
    </div>

    <div class="container-lg">
    <div class="program">
     <h2> Course fees </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Costs</th>
                <th>Coaching Fee</th>
                <th>Boat Hire</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
             {% if programs %}
            {% for row in programs %}
                <tr>
                <th>{{ row['name'] }}</th>
                <td>{{ row['coachingfee'] | currency_format }}</td>
                <td>{{ row['boathire'] | currency_format }}</td>
                <td>{{ row['total'] | currency_format }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
    </div>
    <h1 id="signup"> Sign up for membership</h1>
    <div class="container-lg">
    <div class="sign-up">
        <p> Signing up adds you to our mailing list and allows you to comment on our news posts</p>
        <p> We will contact you for further details and possible payments.</p>
       <form action="" method="get">
       <div>
           <label for="firstname" class="form-label"> First Name</label>
           <input type="text" class="form-control" id="firstname" name="First Name" placeholder="" value="" required>
       </div>
       <div>
           <label for="secondname" class="form-label"> Second Name</label>
           <input type="text" class="form-control" id="secondname" name="Second Name" placeholder="" value="" required>
       </div>
       <div>
           <label for="email" class="form-label"> Email</label>
           <input type="email" class="form-control" id="email" name="Email" placeholder="" value="" required>
       </div>
       <div>
           <label for="password" class="form-label"> Password</label>
           <input type="password" class="form-control" id="password" name="Password" placeholder="" value="melanie" required>
       </div>
       <div>
           <label for="confirmpassword" class="form-label"> Confirm</label>
           <input type="password" class="form-control" id="confirmpassword" name="Confirm password" placeholder="" value="giffiths" required>
       </div>
           <div id="confirmmessage" class="alert"> Currently, your passwords do not match </div>
        <div class="text-end py-3">
          <button type="reset" class="btn btn-primary">Reset</button>
          <button id="submit" type="submit" class="btn btn-primary" >Submit</button>
        </div>
       </form>
        </div>
    </div>

<script>
    let pw = document.querySelector("#password");
    let confirm = document.querySelector("#confirmpassword");
    let message = document.querySelector("#confirmmessage");
    let submit = document.querySelector("#submit");
    console.log(pw);
    submit.disabled = true;
    console.log(confirm.value);
    message.style.display = "block";

    pw.addEventListener('change', check_match);
    confirm.addEventListener('change', check_match)

    function check_match(){
        if( pw.value === confirm.value){
            submit.disabled = false;
            message.style.display = "none";
        }else{
            submit.disabled = true;
            message.style.display = "block";
        }
    }
</script>
{% endblock %}