{% extends "main_template.html" %}

{% block title %}
TRIYA Programs
{% endblock %}

{% block content %}

{% for x in page_data %}
<!-- content box -->
<div class="container-lg container-bg my-2 p-5 ">
    <div class="row align-items-center {{loop.cycle('','reverse') }}">
        <div class="col-md-6 ">
            <h2>{{ x["name"] }}</h2>
                <p class="main-para">{{ x["subtitle"] }}</p>
                <p class="main-para-sm">{{ x["description"] }}</p>
        </div>
         {% set img=x["image"] %}
        <div class="col-md-6 {{loop.cycle('','order-first') }}"><img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/'+img ) }}" alt=""></div>
    </div>
</div>
{% endfor %}


<!-- course fee table -->
<div class="container-lg container-bg my-2 p-5 ">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-navblue">Costs</th>
                {% for x in page_data %}
                <th scope="col" class="text-navblue">{{ x["name"] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-navblue">Coaching fee</th>
                {% for x in page_data %}
                <td>{{ x["coachingfee"] | currency_format }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="text-navblue">Boat hire</th>
                {% for x in page_data %}
                <td>{{ x["boathire"] | currency_format }}</td>
                 {% endfor %}
            </tr>
            <tr>
                <th scope="row" class="text-navblue">Total</th>
                 {% for x in page_data %}
                 <td>{{ x["total"] | currency_format }}</td>
                 {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<!-- contact form for course -->
<div class="container-lg container-bg my-2 px-5 pb-5 ">
    <form id="contactform">
        <div class="row">
            <div class="col">
                <label for="sailorfname">Sailor's First Name</label>
                <input type="text" id="sailorfname" class="form-control " placeholder="First name">
            </div>
            <div class="col">
                <label for="sailorlname">Sailor's Last Name</label>
                <input type="text" id="sailorlname" class="form-control " placeholder="Last name">
            </div>
        </div>
        <div class="form-group">

            <label for="email" >Contact Email Address</label>

            <input type="email" id="email" class="form-control"  placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="selectprogram" >Please Select a Program</label>
            <select class="form-control" id="selectprogram">
                <option>Learn to Sail (one term)</option>
                <option>Teams Racing (one term)</option>
                <option>Fleet Racing (one term with boat charter)</option>
            </select>
            <p></p>
        </div>
        <div class = "form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


</div>
{% endblock %}