:root{
    --main-bg-color: rgb(193, 206, 218);
    --main-bg-color-grad: rgb(200, 210, 228);
    --titles: rgb(237,46,46);
    --titles-trans: rgba(237,46,46,0.5);
    --deepblue: rgb(24, 30, 65);
    --deepblue-trans: rgba(24, 30, 65, 0.7);
}


body{
    background-color: var(--main-bg-color);
    font-size: 100%;
    background: repeating-linear-gradient(90deg, var(--main-bg-color) 0, var(--main-bg-color-grad) 8px, var(--main-bg-color) 15px);
}
p{
    font-size: 1.2em;
}
/* line behind titles */
h1 {
    border: 0px solid red;
    padding:0;
    overflow: hidden;
    color: var(--titles-trans);
    font-weight: bold;
    display: table;
    white-space: nowrap;
    margin: 0.75em 0;
}
h1:before, h1:after {
    border-top: 3px solid var(--titles-trans);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.65em;
    width: 50%;
}
h1:before { right: 3%; }
h1:after { left: 3%; }
/* -------------------------------------- */
h2, h3, h4{
    font-weight: bolder;
    color: var(--titles);
    border-bottom: 1px solid black;
    padding-bottom: 0.5em
}
/* sections */
.news, .about, .coaches, .program, .sign-up, .information, .event{
    border: 0px solid red;
    margin: 0em 1em 1em 0;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding:1em;
}
.information h3{
    text-indent: 1em;
}

/* events page */
.event .row:nth-child(2) div{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    color: white;
    border-bottom: 2px solid var(--deepblue);
    background-color: var(--deepblue-trans);
}
.event .row:nth-child(2) div:first-child{
    border-right: 2px solid var(--deepblue);
}
.event .row:nth-child(3) div{
    font-size: 2em;
    font-family: monospace, sans-serif;
    text-align: left;
}
/* banner */

.top{
    background-color: var(--deepblue-trans);
    position: relative;
    border-bottom: 8px solid var(--deepblue);
}
.top img{
    opacity: 0.75;
}
.top-text, .sub-top-text{
    color:white;
    background-color: var(--deepblue);
    position: absolute;
    border: 0px solid red;
}
.top-text{
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 3em;
    font-weight: bold;
    padding: 0 2em 0 1em;

}
.sub-top-text{
    position: absolute;
    top: 90%;
    right: 0%;
    color:white;
    font-size: 1.2em;
    padding: 0 1em 0 2em;
    transform: translate(0, -100%);

}
/* quote below banner */
.quote{
    background-color: var(--deepblue-trans);
    color:rgba(255,255,255,0.5);
    text-align: center;
    padding: 0.5em 0;
}
.quote p:first-child{
    margin-bottom: 0;
}
.quote p:nth-child(2){
    font-style: italic;
    font-size: 0.75em;
}

/* news section detailing */
.news h3{
    font-size: 1em;
    color: var(--titles);
    font-weight: bold;
}
.news div:nth-child(2){
    font-family: monospace, sans-serif;
}
.news div:nth-child(3){
    text-align: right;
    color: var(--titles);
    font-weight: bold;
}

/*  about detailing */
.about div:first-child{
    border-right: 1px solid black;
}
.about div{
    border: 0px solid green;
}


/* program detailing */
.program div p:nth-child(2){
    font-size: 1.5em;
    font-style: italic;
}

/* layout */
.container-fluid{
    --bs-gutter-x:0;
}
/* columns for index page */
/* left is news */
.left, .right{
    border:0px solid pink;
    padding: 0;
}
.left{
    background: repeating-linear-gradient(0deg, var(--main-bg-color) 0, var(--main-bg-color-grad) 8px, var(--main-bg-color) 15px);
}


/* images */
.trans{
    opacity: 0.5;
}

/* navigation */
nav{
    background-color: var(--deepblue);
    color:white;
}
.nav-link{
    color:white;
}

/* form */
.alert{
    color:red;
    font-size: 1.5em;
    text-align: center;
}

.white-box{
    background-color: white;
}

/* footer */
footer{
    background-color: var(--deepblue);
    margin-top: 1em;

}



    /*---- screen --- */
@media only screen and (max-width: 767px) {
    /* --reverse flex for images on the left --- */
    .main-cols, .reverse {
        flex-direction: column-reverse;
    }
    .sub-top-text{
        display: none;
    }
    .news, .about, .coaches, .program, .sign-up, .information{
         margin: 0em 0em 1em 0;
    }

    .event .row:nth-child(2) div{
        font-size: 2em;
    }
}
    /*---- screen --- */
@media only screen and (max-width: 992px) {
    /* --reverse flex for images on the left --- */
    .main-cols {
        flex-direction: column-reverse;
    }
    .top-text{
        font-size: 1.5em;
    }
    .sub-top-text{
        font-size: 0.75em;
    }
}